# name: ESP32 Arduino Libs CI


name: Build Arduino Libs
on:
  workflow_dispatch:  # Manually start a workflow

jobs:
  build-libs:
    name: Build Libs for ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [esp32, esp32s2, esp32s3, esp32c2, esp32c3, esp32c6, esp32h2, esp32p4, esp32p4_es, esp32c5, esp32c61]
      fail-fast: false
    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install dependencies
      run: bash ./tools/prepare-ci.sh

    - name: Build Libs for ${{ matrix.target }}
      run: bash ./build.sh -e -t ${{ matrix.target }}

    - name: Upload build
      if: failure()
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: build-${{ matrix.target }}
        path: build

    - name: Upload archive
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: artifacts-${{ matrix.target }}
        path: dist

  combine-artifacts:
    name: Combine artifacts
    needs: build-libs
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          path: dist
          pattern: artifacts-*
          merge-multiple: true

      - shell: bash
        run: |
          mkdir -p out
          find dist -name 'arduino-esp32-libs-esp*.tar.gz' -exec tar zxvf {} -C out \;
          cd out/tools/esp32-arduino-libs && tar zcf ../../../dist/esp32-arduino-libs.tar.gz * && cd ../../..
          cp out/package_esp32_index.template.json dist/package_esp32_index.template.json

      - name: Upload full esp32-arduino-libs archive
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: esp32-arduino-libs
          path: dist/esp32-arduino-libs.tar.gz

      - name: Upload package_esp32_index.template.json
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: package-esp32-index-json
          path: dist/package_esp32_index.template.json

  # build-libs:
  #   name: Build Arduino Libs
  #   runs-on: macos-14
  #   permissions:
  #     contents: write
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Set up Python
  #     uses: actions/setup-python@v5
  #     with:
  #       python-version: '3.11'
  #   - name: Install dependencies
  #     run: bash ./tools/prepare-ci.sh
  #   - name: Get current branch
  #     run: |
  #       echo "GIT_BRANCH=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_ENV
  #   - name: Build Arduino Libs
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.PUSH_TOKEN }}
  #       GIT_AUTHOR_EMAIL: ${{ secrets.PUSH_EMAIL }}
  #     run: bash ./build.sh
  #   - name: Release
  #     uses: jason2866/action-gh-release@v1.3
  #     with:
  #       tag_name: ${{ github.run_number }}
  #       body_path: release-info.txt
  #       prerelease: true
  #       files: |
  #         dist/framework*
  #         release-info.txt
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
