name: ESP32 Arduino Libs CI with Release
permissions:
  contents: write   # Enables write access to the repository contents

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - "**"
      - "!**.md"
      - "!.github/workflows/cron_build.yml"
      - "!.github/workflows/cron.yml"
      - "!.github/workflows/docker.yml"
      - "!.github/workflows/repository_dispatch.yml"
      - "!tools/config_editor/**"
      - "!tools/docker/**"
  workflow_dispatch:

concurrency:
  group: esp-idf-libs-${{github.event.pull_request.number || github.ref}}
  cancel-in-progress: true

jobs:
  build-libs:
    name: Build Libs for ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [esp32, esp32s2, esp32s3, esp32c2, esp32c3, esp32c6, esp32h2, esp32p4, esp32p4_es, esp32c5, esp32c61]
      fail-fast: false
    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install dependencies
      run: bash ./tools/prepare-ci.sh

    - name: Build Libs for ${{ matrix.target }}
      run: bash ./build.sh -e -t ${{ matrix.target }}

    - name: Upload build
      if: failure()
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: build-${{ matrix.target }}
        path: build

    - name: Upload archive
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: artifacts-${{ matrix.target }}
        path: dist

    - name: Check for Existing Artifact
      id: check_artifact
      run: |
        RUN_ID=${{ github.run_id }}
        ARTIFACT_NAME="framework-arduinoespressif32"
        ARTIFACTS=$(gh api repos/${{ github.repository }}/actions/runs/$RUN_ID/artifacts --jq '.artifacts[].name')

        echo "Existing Artifacts: $ARTIFACTS"

        ARTIFACT_EXISTS=false
        for artifact in $ARTIFACTS; do
            if [[ "$artifact" == "$ARTIFACT_NAME" ]]; then
                ARTIFACT_EXISTS=true
                break
            fi
        done

        if [ "$ARTIFACT_EXISTS" = true ]; then
            echo "Artifact already exists. Skipping upload."
            echo "exists=true" >> $GITHUB_ENV
        else
            echo "exists=false" >> $GITHUB_ENV
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Archive
      if: ${{ env.exists == 'false' }}
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: framework-arduinoespressif32
        path: dist

  combine-artifacts:
    name: Combine artifacts
    needs: build-libs
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          path: dist
          pattern: artifacts-*
          merge-multiple: true

      - shell: bash
        run: |
          mkdir -p out
          find dist -name 'arduino-esp32-libs-esp*.tar.gz' -exec tar zxf {} -C out \;
          cd out/tools/esp32-arduino-libs && tar zcf ../../../dist/esp32-arduino-libs.tar.gz * && 7z a -mx=9 -tzip -xr'!.*' ../../../dist/esp32-arduino-libs.zip * && cd ../../..
          cp out/package_esp32_index.template.json dist/package_esp32_index.template.json

      - name: Check if dist directory exists
        run: |
          if [ -d "dist" ]; then
            echo "dist directory exists."
            echo "Contents of dist/ directory after preparation:"
            ls -la dist
          else
            echo "dist directory does not exist."
          fi
      - name: Check directories After Preparation
        run: |
          echo "Contents of out/ directory after preparation:"
          ls -la out
          echo "Contents of out/tools directory after preparation:"
          ls -la out/tools
          echo "Contents of current working directory after preparation:"
          ls -la

      - name: Upload full esp32-arduino-libs archive
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: esp32-arduino-libs
          path: dist/esp32-arduino-libs.tar.gz

      - name: Upload package_esp32_index.template.json
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: package-esp32-index-json
          path: dist/package_esp32_index.template.json

  release:
    name: Create Release
    needs: 
      - build-libs
      - combine-artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.run_number }}  # Use GitHub run number as tag_name
          name: Release v${{ github.run_number }}
          body: |
            Release notes for version v${{ github.run_number }}.
            Check included files for details.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: List Artifacts
        id: list_artifacts
        run: |
          # Get the workflow run ID
          RUN_ID=${{ github.run_id }}
          
          # Fetch artifacts specifically for the current workflow run
          ARTIFACTS=$(gh api repos/${{ github.repository }}/actions/runs/$RUN_ID/artifacts --jq '.artifacts | map(.name) | .[]')
          
          echo "Existing Artifacts: $ARTIFACTS"
          
          # Filter artifact name by pattern
          # Using grep with a wildcard requires escaping the asterisk
          ARTIFACT_NAME=$(echo "$ARTIFACTS" | grep 'framework-arduinoespressif32' || true) # Remove '*' to match exact pattern, apps wildcard conditions if needed

          if [ -z "$ARTIFACT_NAME" ]; then
              echo "No artifacts match the pattern."
              exit 1
          else
              echo "Matching Artifact: $ARTIFACT_NAME"
              echo "artifact_name=$ARTIFACT_NAME" >> $GITHUB_ENV
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download arduino libraries
        uses: actions/download-artifact@v5
        with:
          path: dist
          name: ${{ env.artifact_name }}
          merge-multiple: true

      - name: Download built libraries
        uses: actions/download-artifact@v5
        with:
          path: dist
          name: esp32-arduino-libs


      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.run_number }}
          files: |
            dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
